<article>
    <form>
        <label>
            Nome:
            <input type="text" name="nome" id="nome">
        </label>
        <label>
            E-mail:
            <input type="email" name="email" id="email">
        </label>
        <label>
            Telefone:
            <div>
                <input type="email" name="email" id="email">
                <a href=""><i class="material-icons">add_circle</i></a>
            </div>
            <div>
                <input type="email" name="email" id="email">
                <a class="remove" href=""><i class="material-icons">remove_circle</i></a>
            </div>
            <div>
                <input type="email" name="email" id="email">
                <a class="remove" href=""><i class="material-icons">remove_circle</i></a>
            </div>
        </label>
        <div class="controles">
            <button type="button" class="link" (click)="meEsconda()">Cancelar</button>
            <button>Adicionar</button>
        </div>
    </form>
</article>
