<form action="home.html">
    <label>
        Nome
        <input type="text" name="nome" id="nome">
    </label>
    <label>
        E-mail
        <input type="email" name="email" id="email">
    </label>
    <label>
        Senha
        <input type="password" name="senha" id="senha">
    </label>
    <label>
        Confirmação de Senha
        <input type="password" name="confirmacao" id="confirmacao">
    </label>
    <div class="controles">
        <a href="index.html">Voltar a página inicial</a>
        <button>Entrar</button>
    </div>
</form>
