<main>
    <section>
        <h3>Nome do Contato</h3>
        <h4>email@docontato.com</h4>
        <ul>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
        </ul>
        <a href="#">Editar</a>
    </section>
    
    <section>
        <h3>Nome do Contato</h3>
        <h4>email@docontato.com</h4>
        <ul>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
        </ul>
        <a href="#">Editar</a>
    </section>
    
    <section>
        <h3>Nome do Contato</h3>
        <h4>email@docontato.com</h4>
        <ul>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
        </ul>
        <a href="#">Editar</a>
    </section>
    <section>
        <h3>Nome do Contato</h3>
        <h4>email@docontato.com</h4>
        <ul>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
        </ul>
        <a href="#">Editar</a>
    </section>
    
    <section>
        <h3>Nome do Contato</h3>
        <h4>email@docontato.com</h4>
        <ul>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
        </ul>
        <a href="#">Editar</a>
    </section>
    
    <section>
        <h3>Nome do Contato</h3>
        <h4>email@docontato.com</h4>
        <ul>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
        </ul>
        <a href="#">Editar</a>
    </section>
    <section>
        <h3>Nome do Contato</h3>
        <h4>email@docontato.com</h4>
        <ul>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
        </ul>
        <a href="#">Editar</a>
    </section>
    
    <section>
        <h3>Nome do Contato</h3>
        <h4>email@docontato.com</h4>
        <ul>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
        </ul>
        <a href="#">Editar</a>
    </section>
    
    <section>
        <h3>Nome do Contato</h3>
        <h4>email@docontato.com</h4>
        <ul>
            <li><a href="tel:9999999999">99999 - 9999</a></li>
        </ul>
        <a href="#">Editar</a>
    </section>
</main>